.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.containerNav{
    width: 1200px;
}

.minHeight{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.collumn{
    flex-direction: column;
    justify-content: flex-start;
}