.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form label{
    margin-bottom: .6em;
    font-weight: bold;
}

.form input{
    padding: .7em;
    border-radius: .6em;
    border: none;
}

.form input::placeholder{
    color: #7b7b7b;
}